*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.slide-container{
    width: 100%;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    align-items: center;
    padding: 30px;
    margin: auto;
}
@media screen and (max-width: 770px) {
    .main-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding: 10px;
      bottom: 10px;
    
    }
    .each-slide{
        border: 2px solid gray;
        text-align: center;
        padding: 10px;
        width: 60%;
        margin-bottom: 20px;
        box-shadow: 5px 10px 18px #888888;

    }
    .container-card{
        width: 100%;
        margin: auto;
        padding: inherit;
        border: none;
      
    }
    .person-info .person h4{
        font-size: 12px;
        font-weight: bold;
        border: 1px solid blue;
        display: inline-block;
        padding: 5px;
        border-radius: 8px;
    
    }

    .header{
        font-size: 15px;
        font-weight: bold;
        padding: inherit;
        margin-bottom: 20px;
    }
  } 

  @media screen and (min-width: 1440px) {
    .main-container {
        display: flex;
        flex-direction: row;
        width: 90%;
        padding: 10px;
        bottom: 10px;
      
      }
      .each-slide{
        border: 2px solid gray;
        text-align: center;
        padding: 10px;
        width: 30%;
        margin-bottom: 20px;
        box-shadow: 5px 10px 18px #888888;

    }   
    div.person-info{
        display: flex;
        width: 90%;
        height: 60px;
        margin-left: 70px;
    }
    .revenue-body p{
        color: rgb(66, 167, 245);
        font-weight: bold;
    }
    .revenue-body .revenue-option h4, p{
        font-size: 20px;
    }
    .revenue-body .revenue-prix h4, p{
        font-size: 20px;
    }
    .person-info .person h3{
        font-size: 22px;
        font-weight: normal;
    }
    .person-info .person h4{
        font-size: 15px;
        font-weight: bold;
        border: 1px solid #6161f6;  
        display: inline-block;
        padding: 5px;
        border-radius: 8px;
    
    }
  }

.each-slide{
    text-align: center;
    padding: 15px;
    border-radius:30px 30px;
    margin-right: 30px;
    box-shadow: 5px 10px 18px #888888;
    /* border:1px solid red; */
    width: 60%;
}
.container-card{
    width: 100%;
    margin: auto;
    padding: inherit;
    /* border: none; */
}
.container-card .header{
    font-size: 25px;
    font-weight: bold;
    padding: inherit;
    margin-bottom: 20px;
}
div.person-info{
    display: flex;
    width: 90%;
    height: 60px;
    margin-left: 15px;
}
.person-img img{
    width: 50px;
    margin:auto;
    border-radius: 50%;
    padding:6px;
    margin-top: 2px;
    margin-left: 5px;
}
.person-info .person{
  width: 100%;
  text-align: start;
  margin-top: 2px;

}
.person-info .person h3{
    font-size: 18px;
    font-weight: normal;
}
.person-info .person h4{
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #6161f6;  
    display: inline-block;
    padding: 5px;
    border-radius: 8px;

}

.container-revenue {
    width: 100%;
    margin-top: 30px;
    /* border: 1px solid red; */
}
.container-revenue .revenue-header h2{
    width: 100%;
    font-size: 25px;
   
    /* border: 1px solid yellow; */
}
.revenue-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.revenue-body p{
    color: rgb(66, 167, 245);
    font-weight: bold;
    
}
.revenue-body .revenue-option h4, p{
    font-size: 17px;
}
.revenue-body .revenue-prix h4, p{
    font-size: 18px;
}
.container-revenue .revenue-button button{
    display: block;
    width: 90%;
    margin: auto;
    height: 45px;
    text-decoration: none;
    background-color:  rgb(66, 167, 245);
    border-radius: 10px;
    border: none;

}

.container-revenue .revenue-button button h5{
    color: white;
    margin-top: 4px;
    align-content: center;
    font-size: 18px;
}
.footer{
    display: block;
    border: 1px solid gray;
    margin: 20px -15px -15px -15px;
    background-color:rgb(191, 187, 187);
    border-radius: 0 0 30px 30px;
    padding: 0;
   
}

.footer p{
    font-size: 15px;
    margin-top: 10px;
    color: white;
}