
.slide-container{
  width: 70%;
  margin: auto;
  border-radius: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  
}

.main-container{
  width: 32%;
  margin-left: 8px;
  float: left;
 
  /* box-shadow: 2px 3px 3px gray; */
}
div .card-body{
  padding: 5px;
  border: none;
}

div .card-header{
  background: white;
  padding: 0;
  margin-top: 20px;
  border: none;
}
.person-info{
  display: flex ;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  margin: auto;
  border: none;  
}

.person-info img{
  width: 50px;
  border-radius: 50% 50%;
  box-sizing: border-box;
  margin-right: 25px;
}

.person-info-data{
  margin: 0;
}

.person-info-data h2{
  font-size: 21px;
}

.person-info-data h3{
  border: 1px solid blue;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.container-revenue {
  margin-top: 50px;
  width: auto;
  
}
.container-revenue p{
  font-size: 24px;
  display: inline-block;
  padding: 2px;
}

.container-revenue-info{
  display: flex;
  flex-direction: column;
  line-height: 0.3em;

}

.container-revenue-info .revenue-header{
  display: flex;
  justify-content: center;
}

.container-revenue-info .revenue-header p{
  padding: 5px;
  font-size: 20px;
  margin-right: 19px;
  margin-left: 15px;
}

.container-revenue-info .revenue-data{
  display: flex;
  justify-content: center;
}

.container-revenue-info .revenue-data p{
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  margin-right: 18px;
  margin-left: 35px;
}